In [3]:
import  pandas as pd

df = pd.read_csv("indexing.csv", header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,motorbike (398).jpg,1358.166667,0.000000,0.0,0.0,0.000000,0.333333,0.000000,0.0,0.0,...,1029.273846,1625.754332,0.941702,0.897492,0.926667,0.884371,8.767172,8.996010,8.854436,9.011420
1,motorbike (385).jpg,974.166667,0.000000,0.0,0.0,3.333333,0.000000,0.000000,0.0,0.0,...,424.918887,637.216521,0.969642,0.941380,0.960566,0.941003,7.524074,7.978401,7.822142,7.976077
2,motorbike (470).jpg,993.333333,48.166667,0.0,0.0,0.000000,2.833333,0.000000,0.0,0.0,...,592.502692,929.301247,0.968139,0.941117,0.949312,0.920647,8.224185,8.534274,8.423093,8.561430
3,motorbike (161).jpg,4002.166667,155.833333,0.0,0.0,53.000000,96.166667,35.166667,0.0,0.0,...,784.713184,1206.773164,0.889112,0.824575,0.882308,0.818924,12.754604,13.188643,13.052460,13.197681
4,motorbike (10).jpg,1133.333333,0.666667,0.0,0.0,0.000000,0.666667,0.000000,0.0,0.0,...,942.278937,1159.159371,0.961003,0.910029,0.935731,0.921132,6.128147,6.432633,6.287878,6.417966

In [12]:
df[0] ='Container/' + df[0].astype(str)

                                 0            1           2         3    4   \
0     Container/motorbike (398).jpg  1358.166667    0.000000  0.000000  0.0
1     Container/motorbike (385).jpg   974.166667    0.000000  0.000000  0.0
2     Container/motorbike (470).jpg   993.333333   48.166667  0.000000  0.0
3     Container/motorbike (161).jpg  4002.166667  155.833333  0.000000  0.0
4      Container/motorbike (10).jpg  1133.333333    0.666667  0.000000  0.0
...                             ...          ...         ...       ...  ...
1332  Container/motorbike (199).jpg  1142.166667   21.333333  0.000000  0.0
1333  Container/motorbike (312).jpg  1721.333333   61.833333  0.000000  0.0
1334  Container/motorbike (483).jpg   918.500000  109.166667  7.666667  0.0
1335  Container/motorbike (627).jpg  1068.000000    0.333333  0.000000  0.0
1336  Container/motorbike (351).jpg  1859.333333   21.666667  0.000000  0.0

              5          6          7    8    9   ...           89  \
0       0.000000   0.333333   0.000000  0.0  0.0  ...  1029.273846
1       3.333333   0.000000   0.000000  0.0  0.0  ...   424.918887
2       0.000000   2.833333   0.000000  0.0  0.0  ...   592.502692
3      53.000000  96.166667  35.166667  0.0  0.0  ...   784.713184
4       0.000000   0.666667   0.000000  0.0  0.0  ...   942.278937
...          ...        ...        ...  ...  ...  ...          ...
1332    0.000000   3.666667   0.000000  0.0  0.0  ...   511.340446
1333  271.166667  21.000000   0.000000  0.0  0.0  ...   631.749123
1334    0.000000   7.000000  11.333333  0.0  0.0  ...   802.979413
1335    0.000000   0.666667   0.000000  0.0  0.0  ...   743.857991
1336    3.666667   1.666667   0.000000  0.0  0.0  ...   491.340860

               90        91        92        93        94         95  \
0     1625.754332  0.941702  0.897492  0.926667  0.884371   8.767172
1      637.216521  0.969642  0.941380  0.960566  0.941003   7.524074
2      929.301247  0.968139  0.941117  0.949312  0.920647   8.224185
3     1206.773164  0.889112  0.824575  0.882308  0.818924  12.754604
4     1159.159371  0.961003  0.910029  0.935731  0.921132   6.128147
...           ...       ...       ...       ...       ...        ...
1332   738.249608  0.963227  0.924811  0.950236  0.928257   8.245131
1333  1024.631241  0.934537  0.882762  0.925927  0.878571  12.407991
1334  1168.280256  0.959119  0.916614  0.931103  0.900006   6.756261
1335  1104.572155  0.937895  0.886573  0.920732  0.882518   8.723121
1336   766.289744  0.974309  0.947935  0.961261  0.939617   8.573706

             96         97         98
0      8.996010   8.854436   9.011420
1      7.978401   7.822142   7.976077
2      8.534274   8.423093   8.561430
3     13.188643  13.052460  13.197681
4      6.432633   6.287878   6.417966
...         ...        ...        ...
1332   8.632619   8.480639   8.632386
1333  12.976880  12.778512  12.986477
1334   7.036875   6.947739   7.052779
1335   8.937493   8.825248   8.950463
1336   8.805703   8.406049   8.827358

[1337 rows x 99 columns]

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,Container/motorbike (398).jpg,1358.166667,0.000000,0.0,0.0,0.000000,0.333333,0.000000,0.0,0.0,...,1029.273846,1625.754332,0.941702,0.897492,0.926667,0.884371,8.767172,8.996010,8.854436,9.011420
1,Container/motorbike (385).jpg,974.166667,0.000000,0.0,0.0,3.333333,0.000000,0.000000,0.0,0.0,...,424.918887,637.216521,0.969642,0.941380,0.960566,0.941003,7.524074,7.978401,7.822142,7.976077
2,Container/motorbike (470).jpg,993.333333,48.166667,0.0,0.0,0.000000,2.833333,0.000000,0.0,0.0,...,592.502692,929.301247,0.968139,0.941117,0.949312,0.920647,8.224185,8.534274,8.423093,8.561430
3,Container/motorbike (161).jpg,4002.166667,155.833333,0.0,0.0,53.000000,96.166667,35.166667,0.0,0.0,...,784.713184,1206.773164,0.889112,0.824575,0.882308,0.818924,12.754604,13.188643,13.052460,13.197681
4,Container/motorbike (10).jpg,1133.333333,0.666667,0.0,0.0,0.000000,0.666667,0.000000,0.0,0.0,...,942.278937,1159.159371,0.961003,0.910029,0.935731,0.921132,6.128147,6.432633,6.287878,6.417966

In [15]:
df.to_csv("img_index.csv", index=False)